body{
  background: #0f172a;
  font-family: Arial;
}
.container{
  width: 350px;
  background: #1e293b;
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px;
}

h1{
  color: white;
  text-align: center;
}

.chat-box{
  height: 400px;
  background: #0f172a;
  border-radius: 10px;
  padding: 10px;
}

.message{
  background: #3b82f6;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.input-box{
  display: flex;
  margin-top: 10px;
}

input{
  flex: 1;
  padding: 10px;
}

button{
  padding: 10px;
}